* {
    outline: none;
    border: none;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

iframe, img, video, canvas, svg {
    max-width: 100%;
    display: block;
}

img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

input, button, textarea, select {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
}

button, select {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}