@font-face {
    font-family: 'space';
    src:  url('https://code.tr.af/traf/assets/space.woff') format('woff'),
          url('https://code.tr.af/traf/assets/space.ttf') format('truetype');
}


:root {
    --color-white: #fff !important;
    --color-text-default: #fff !important;
    --color-text-gray: #8F9BA8 !important;
    --color-text-yellow: #f0bd66 !important;
    --color-bg-default: #000 !important;
    --color-border-default: #131419 !important;
}

p {
    font-family: 'space', sans-serif !important;
    color: var(--color-text-gray) !important;
    font-weight: 100 !important;
    line-height: 2 !important;
}