/*—————————————————————————————————*/
/*———————— THEME VARIABLES ————————*/
/*—————————————————————————————————*/

@font-face {
    font-family: 'malayalam';
    src:  url('https://code.tr.af/singhers/assets/malayalam.woff') format('woff'),
          url('https://code.tr.af/singhers/assets/malayalam.ttf') format('truetype');
}

:root {
    --color-primary: #75837A !important;
    --color-primary-light: #9BA09D !important;
    --color-white: #fff !important;
    --color-text-default: #303431 !important;
    --color-bg-default: #FEFCF8 !important;
    --color-bg-green-light: var(--color-primary) !important;
    --color-bg-green: var(--color-primary) !important;
    --font: 'malayalam', serif !important;
}

/*—————————————————————————————————*/
/*———————— HIDDEN ELEMENTS ————————*/
/*—————————————————————————————————*/

.notion-navbar,
.super-navbar__logo,
.notion-callout__icon,
.notion-header__cover,
#page-index .notion-header,
#page-index .notion-toggle {
    display: none !important;
}

/*—————————————————————————————————*/
/*———— CONTENT & COMMON BLOCKS ————*/
/*—————————————————————————————————*/

.super-content {
    padding: 60px 10% 40px !important;
    max-width: none !important;
}

.notion-image {
    margin: 0 !important;
}

/*—————————————————————————————————*/
/*————————————— HEADER ————————————*/
/*—————————————————————————————————*/

.notion-header {
    text-align: center !important;
    padding: 140px 0 !important;
}

/*—————————————————————————————————*/
/*————————————— NAVBAR ————————————*/
/*—————————————————————————————————*/

.super-navbar {
    background: var(--color-primary) !important;
    color: var(--color-white) !important;
    height: 80px !important;
}

.super-navbar__content {
    justify-content: center !important;
    padding: 0 !important;
}

.super-navbar__item {
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    font-size: 12px !important;
    padding: 0 30px !important;
    opacity: 1 !important;
}

.super-navbar__item:hover {
    opacity: 0.6 !important;
}

/*—————————————————————————————————*/
/*—————————— TYPOGRAPHY ———————————*/
/*—————————————————————————————————*/

h1 {
    color: var(--color-primary) !important;
    font-family: var(--font) !important;
    letter-spacing: -1.5px !important;
    font-weight: 100 !important;
    font-size: 60px !important;
}

h3 {
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

/*—————————————————————————————————*/
/*———————— CALLOUT BLOCKS —————————*/
/*—————————————————————————————————*/

.notion-callout {
    transition: all .2s ease-in-out !important;
    color: var(--color-white) !important;
    position: relative !important;
    border-radius: 0 !important;
    padding: 120px !important;
    margin: 0 auto !important;
    border: none !important;
    width: 100% !important;
}

.notion-callout:hover a {
    opacity: 0.6 !important;
}

.notion-callout__content {
    margin: 0 !important;
}

.notion-callout a {
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    padding: 16px 28px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    display: block !important;
    border: none !important;
    opacity: 1 !important;
}

/*—————————————————————————————————*/
/*———————————— COLUMNS ————————————*/
/*—————————————————————————————————*/

.notion-column {
    margin: 0 !important;
    flex: 1 !important;
}

/*—————————————————————————————————*/
/*———————— HOME PAGE STYLES ———————*/
/*—————————————————————————————————*/

#page-index * {
    text-align: center !important;
}

#page-index .super-navbar {
    background: var(--color-bg-default) !important;
}

#page-index .super-navbar__item {
    color: var(--color-primary-light) !important;
}

#page-index .notion-image {
    margin-bottom: -8px !important;
    position: relative !important;
    margin-top: -160px !important;
    z-index: -1 !important;
}

#page-index .notion-image:after {
    background: url('https://code.tr.af/singhers/assets/badge.png') !important;
    background-size: cover !important;
    position: absolute !important;
    bottom: -90px !important;
    height: 150px !important;
    right: -120px !important;
    width: 150px !important;
    content: "" !important;
}

#page-index .notion-text {
    min-height: 24px !important;
}

#page-index .notion-callout {
    width: fit-content !important; 
    padding: 0 !important;
}

#page-index h1 {
    margin-top: 20px !important;
}