* {
    color: #fff !important;
    text-decoration: none;
}

:root {
    --color-bg-default: #0b0b0c !important;
    --color-text-gray: #808c99 !important;
}

.notion-page__icon {
    display: none !important;
}

.notion-callout {
    background: none !important;
    border: none !important;
}

.ErrorPage_notFound__3RX4C {
    background: #000 !important;
}

.ErrorPage_notFound__3RX4C img {
    display: none !important;
}

.notion-callout__content {
    margin-top: 2px !important;
}

.css-1q4i7jr .SemanticString {
    transition: all .3s ease-in-out !important;
}

.css-1as16w1:hover .css-1q4i7jr .SemanticString {
    color: #808c99 !important;
}

.css-ll51en>figcaption {
    text-align: center !important;
    font-size: 12px !important;
    color: #808c99 !important;
}

.css-ll51en>figcaption .css-lygndz {
    font-size: 12px !important;
    color: #808c99 !important;
}

.css-1q4i7jr .SemanticStringArray {
    border-bottom: 1px solid #27292B !important;
}

.css-shrck7 {
    display: none !important;
}

.Header_maxWidth__1WCKE {
    padding-top: 40px;
}

.mkbhd {
    transition: all .3s ease-in-out;
    width: 60px !important;
    position: fixed;
    z-index: 9999;
    opacity: 0.9;
    bottom: 40px;
    left: 40px;
}

.mkbhd:hover {
    opacity: 1 !important;
}

.mkbhd img {
    border-radius: 0 !important;
    max-width: 100% !important;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    color: #808c99 !important;
    height: 64px;
    display: flex;
    align-items: center;
}

.gum-button {
    transition: all .3s ease-in-out !important;
    opacity: 0.9;
    position: fixed;
    text-align: center;
    background: #06f !important;
    display: flex;
    padding: 0 40px !important;
    align-items: center;
    justify-content: center;
    height: 64px;
    right: 0;
    top: 0;
    z-index: 9999 !important;
    color: #fff !important;
}

.gum-button:hover {
    background: #06f !important;
    opacity: 1;
    color: #fff !important;
}

.nav-link {
    transition: all .3s ease-in-out;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 4px;
    color: #fff;
}

.nav-link:hover {
    color: #808c99 !important;
}

.css-8o5a33 {
    padding: 0 !important;
    background: none !important;
}

.css-1s27hyf .code {
    background: #27292B !important;
    margin: 0 2px !important;
}

.css-1plrovb {
    margin-top: 2px;
}

.css-zy8d55 {
    display: none !important;
}

.css-6ejn3r {
    margin-left: -20px !important;
}

#updates .css-ej9za2 {
    position: sticky !important;
    top: 100px !important;
}

.css-h8hxnt {
    border-bottom: 1px solid #27292B !important;
}

.css-17jv7kj {
    color: #808c99 !important;
    position: relative !important;
    top: 10px !important;
}

.link {
    transition: all .3s ease-in-out !important;
    color: #808c99 !important;
    opacity: 1 !important;
    border-bottom: 1px solid #27292B !important;
}

.link:hover {
    color: #fff !important;
}

.Heading {
    margin-bottom: 10px !important;
}

.css-px58sc, .css-guhoky {
    max-height: 400px !important;
    height: 400px !important;
}

.css-1qfnp9i, .css-guhoky, .css-1vnfnjg, .css-d831o, .css-12fyasr {
    height: 100% !important;
}

.css-1b9dtah {
    padding-top: 40px !important;
}

.css-ll51en, .css-ll51en img {
    border-radius: 26px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .nav {
        display: none;
    }
    .gum-button {
        top: auto !important;
        opacity: 1 !important;
        bottom: 0;
        width: 100%;
        height: 80px !important;
        left: 0;
    }
    .css-px58sc, .css-guhoky {
        max-height: 240px !important;
        height: 240px !important;
    }
    .css-81jcjh, .mkbhd {
        display: none !important;
    }
    .ColumnList {
        margin: 20px 0 !important;
    }
}