
html {
    filter: invert(1) hue-rotate(180deg) contrast(80%) saturate(140%);
}

body *,
body *::placeholder {
    font-family: Aeonik, sans-serif;
    font-size: 99%;
}

img {
    filter: invert(1) hue-rotate(180deg) contrast(100%) saturate(100%);
}

button {
    max-font-size: 24px;
}

.MuiBox-root.css-1727mpx {
    background-image: url('https://code.tr.af/images/virtuals.png');
    background-repeat: repeat;
    background-size: 100%;
}
