#page-index .notion-header {
    display: none !important;
}

.super-content {
    padding: 60px var(--padding-right) 60px var(--padding-left) !important;
}

/* Callout bar */
#block-8856589a33044d7cbdb463a4bf4ae36b {
    background: var(--color-primary) !important;
    justify-content: center !important;
    align-items: center !important;
    position: sticky !important;
    display: flex !important;
    top: 0 !important;
}

#block-8856589a33044d7cbdb463a4bf4ae36b .notion-column {
    width: fit-content !important;
    margin: 0 !important;
}