/*————————————————— UI GOODIES SITE ———————————————*/
/*——————————————— POWERED BY SUPER.SO —————————————*/
/*————————————————— BUILT BY @TRAF ————————————————*/

@import "reset.css";
@import "variables.css";
@import "callout.css";
@import "collection.css";
@import "navbar.css";
@import "quote.css";
@import "typography.css";

.super-content,
.notion-header__content {
    padding-right: var(--padding-right) !important;
    padding-left: var(--padding-left) !important;
}

.super-content {
    padding-bottom: 60px !important;
    padding-top: 0 !important;
}

.notion-header,
#block-f3b0f293dd5b4db6b68d68f782a30da4 {
    display: none !important;
}

/* Callout bar */
#block-8856589a33044d7cbdb463a4bf4ae36b,
#block-92d7812bcf404981aec9e4f846f21b79,
#block-34a81c40621a41dcb2f1bd3d2938f4ef,
#block-2cdae38c04d540a192194d4da61c89f4 {
    margin-left: calc(var(--padding-left) * -1) !important;
    background: var(--color-primary) !important;
    justify-content: center !important;
    align-items: center !important;
    position: sticky !important;
    padding: 8px 0 !important;
    display: flex !important;
    width: 100vw !important;
    z-index: 2 !important;
    top: 0 !important;
}

#block-8856589a33044d7cbdb463a4bf4ae36b .notion-column,
#block-92d7812bcf404981aec9e4f846f21b79 .notion-column,
#block-34a81c40621a41dcb2f1bd3d2938f4ef .notion-column,
#block-2cdae38c04d540a192194d4da61c89f4 .notion-column {
    width: fit-content !important;
    margin: 0 !important;
}