.notion-callout {
    border-radius: 0 !important;
    border: none !important;
    margin: 0 !important;
}

.notion-callout__content {
    padding: 0 !important;
    margin: 0 !important;
}

.notion-callout__icon {
    display: none !important;
}