.notion-callout {
    justify-content: center !important;
    align-items: center !important;
    border-radius: 0 !important;
    padding: 100px !important;
    border: none !important;
    margin: 0 !important;
}

.notion-callout__content {
    overflow: visible !important;
    padding: 0 !important;
    margin: 0 !important;
}

.notion-callout__icon {
    display: none !important;
}