.notion-column-list {
    flex-wrap: nowrap !important;
}

.notion-column-list .notion-column:nth-child(-n + 2) {
    border-top: 2px solid var(--color-black) !important;
}

.notion-column-list .notion-column:nth-child(odd) {
    border-right: 2px solid var(--color-black) !important;
}

.notion-column {
    width: 100% !important;
    padding: 0 !important;
}

.notion-column .notion-image,
.notion-column .notion-callout {
    border-bottom: 2px solid var(--color-black) !important;
    height: 100% !important;
}

.notion-column .notion-callout h2 {
    margin: 12px auto !important;
    font-size: 48px !important;
}

.notion-column .notion-image img {
    object-fit: cover !important;
}