.notion-column-list {
    flex-wrap: nowrap !important;
}

.notion-column {
    width: 100% !important;
    padding: 0 !important;
}

.notion-column .notion-image,
.notion-column .notion-callout {
    height: 100% !important;
}

.notion-column .notion-callout h2 {
    margin: 12px auto !important;
    font-size: 48px !important;
}

.notion-column .notion-image img {
    object-fit: cover !important;
}