.super-navbar {
    border-bottom: 2px solid var(--color-black) !important;
    border-top: 2px solid var(--color-black) !important;
    margin-top: 260px !important;
    top: 0 !important;
}

.super-navbar__content {
    grid-template-columns: 1fr 1fr !important;
    padding: 0 0 0 36px !important;
    height: 100% !important;;
}

.super-navbar__actions {
    padding: 0 !important;
}

.super-navbar__actions a {
    height: 100% !important;
}

.super-navbar__logo {
    display: none !important;
}

.super-navbar__item-list {
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    overflow: unset !important;
}

.super-navbar__item {
    position: relative !important;
    padding: 6px 22px !important;
    height: auto !important;
    opacity: 1 !important;
}

.super-navbar__item:after {
    transition: all .3s ease-in-out !important;
    background: var(--color-black) !important;
    position: absolute !important;
    height: 1px !important;
    opacity: 0 !important;
    bottom: 0 !important;
    width: 0 !important;
    left: 0 !important;
}

.super-navbar__item:hover:after {
    width: 100% !important;
    opacity: 1 !important;
}

.super-navbar__cta {
    border-left: 2px solid var(--color-black) !important;
    align-items: center !important;
    padding: 0 46px 2px !important;
    border-radius: 0 !important;
    display: flex !important;
    height: 100% !important;
}

.super-navbar__cta:hover {
    background: var(--color-pink) !important;
    color: var(--color-black) !important;
    opacity: 1 !important;
}