.notion-quote {
    background: var(--color-black) !important;
    color: var(--color-white) !important;
    padding: 32px 0 36px !important;
    font-weight: 400 !important;
    overflow: hidden !important;
    font-size: 90px !important;
    border: none !important;
    width: 100% !important;
    margin: 0 !important;
}

.notion-quote .notion-semantic-string {
    -webkit-animation: slide 160s linear infinite !important;
    animation: slide 160s linear infinite !important;
    will-change: transform !important;
    display: inline-block !important;
    white-space: nowrap !important;
    width: max-content !important;
}

@keyframes slide {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}