.notion-quote {
    background: var(--color-black) !important;
    color: var(--color-white) !important;
    font-weight: 400 !important;
    font-size: 90px !important;
    padding: 40px 0 !important;
    margin: 0 !important;
}

.notion-quote .notion-semantic-string {
    white-space: nowrap !important;
}