h1 {
    letter-spacing: -3px !important;
    line-height: 1 !important;
    font-weight: 400 !important;
    font-size: 90px !important;
}

p {
    font-size: 24px !important;
}

.notion-semantic-string { line-height: inherit !important; }
.notion-text { min-height: 40px !important; }

/* Buttons */
strong a {
    background: var(--color-black) !important;
    transition: var(--transition) !important;
    color: var(--color-white) !important;
    padding: 18px 32px 20px !important;
    display: inline-block !important;
    position: relative !important;
    border-radius: 4px !important;
    text-align: center !important;
    font-weight: 400 !important;
    min-width: 288px !important;
    font-size: 24px !important;
    border: none !important;
    opacity: 1 !important;
}

strong a:before,
strong a:after {
    border: 2px solid var(--color-black) !important;
    position: absolute !important;
    border-radius: 4px !important;
    height: 100% !important;
    width: 100% !important;
    content: "" !important;
}

strong a:before {
    background: var(--color-pink) !important;
}

strong a:after {
    background: var(--color-yellow) !important;
}

strong a:hover {
    transform: translate(16px, 16px) !important;
}