.web3modal-modal-lightbox {
    background: none !important;
}

.web3modal-modal-card {
    width: fit-content !important;
    overflow: visible !important;
    border-radius: 0 !important;
    background: #fff !important;
    display: flex !important;
    padding: 20px !important;
    margin: 0 !important;
}

.web3modal-provider-wrapper {
    transition: all .4s cubic-bezier(0.4,2,0.68,1) !important;
    width: fit-content !important;
    position: relative !important;
    border-radius: 0 !important;
    margin: 0 6px !important;
    border: none !important;
    padding: 0 !important;
}

.web3modal-provider-container {
    border-style: double !important;
    flex-direction: row !important;
    border-color: #000 !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    padding: 0 20px !important;
    margin: 0 !important;
}

.web3modal-provider-description {
    display: none !important;
}

.web3modal-provider-icon {
    width: 20px !important;
    order: 2 !important;
}

.web3modal-provider-name {
    font-family: 'Courier New', Courier, monospace !important;
    width: fit-content !important;
    margin: 0 32px 0 0 !important;
    font-size: 16px !important;
}