.web3modal-modal-lightbox {
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(20px) !important;
}

.web3modal-modal-card {
    background: none !important;
    border-radius: 0 !important;
    max-width: 200px !important;
    display: unset !important;
    padding: 0 !important;
    margin: 0 !important;
}

.web3modal-provider-icon,
.web3modal-provider-description {
    display: none !important;
}

.web3modal-provider-wrapper {
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.web3modal-provider-container {
    border-radius: 0 !important;
    background: none !important;
}

.web3modal-provider-container:hover .web3modal-provider-name {
    color: #fff !important;
}

.web3modal-provider-name {
    transition: var(--transition) !important;
    letter-spacing: -1px !important;
    text-align: left !important;
    font-size: 40px !important;
    color: #666b70 !important;
    margin: 0 !important;
}