/*—————————————————— UNTITLD CORP. ————————————————*/
/*——————————————— POWERED BY SUPER.SO —————————————*/
/*————————————————— BUILT BY @TRAF ————————————————*/

@import "https://code.tr.af/snippets/reset.css";

:root {
    --transition: all .2s ease-in-out !important;
    --color-text-default: #fff !important;
    --color-text-gray: #8f9ba8 !important;
    --color-bg-default: #000 !important;
}

@font-face {
    font-family: 'carbon';
        src:  url('https://code.tr.af/untitld/assets/carbon.woff') format('woff'),
              url('https://code.tr.af/untitld/assets/carbon.ttf') format('truetype');
}

* {
    font-family: 'carbon', sans-serif !important;
}

h1, h2, h3, p {
    text-transform: uppercase !important;
    font-weight: normal !important;
    font-size: 18px !important;
}

.notion-navbar,
.notion-toggle {
    display: none !important;
}