* {
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeSpeed !important;
    font-weight: normal !important;
    outline: none !important;
}

:root {
    --column-spacing: 20px !important;
    --color-red: #A17163 !important;
}

@font-face {
    font-family: 'retiro';
    src:  url('https://code.tr.af/julia/assets/retiro.woff') format('woff'),
          url('https://code.tr.af/julia/assets/retiro.ttf') format('truetype');
}

.max-width {
    max-width: 800px !important;
}

.notion-callout__icon {
    display: none !important;
}

.notion-navbar {
    background: rgba(255,255,255,0.2) !important;
    backdrop-filter: blur(20px) !important;
}

h1 {
    font-family: 'retiro', serif !important;
    pointer-events: none !important;
    font-size: 120px !important;
    line-height: 1.1 !important;
}

#page-index {
    text-align: center !important;
    color: #fff !important;
}

#page-index h1 {
    transform: scale(1.4) !important;
}

.notion-header__cover-image {
    position: fixed !important;
}

.notion-callout {
    position: relative !important;
    min-height: 46px !important;
    border: none !important;
    padding: 0 !important;
}

.notion-callout__content {
    margin: 0 !important;
}

.notion-callout a {
    background: rgba(255,255,255,0.2) !important;
    backdrop-filter: blur(8px) !important;
    color: var(--color-red) !important;
    border-radius: 100px !important;
    position: absolute !important;
    padding: 8px 12px !important;
    font-size: 18px !important;
    border: none !important;
    opacity: 1 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-callout a:hover {
    box-shadow: 0 10px 20px -10px rgb(161,113,99,0.1) !important;
    background: rgba(255,255,255,0.2) !important;
}