* {
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeSpeed !important;
    font-weight: normal !important;
    outline: none !important;
}

@font-face {
    font-family: 'retiro';
    src:  url('https://code.tr.af/julia/assets/retiro.woff') format('woff'),
          url('https://code.tr.af/julia/assets/retiro.ttf') format('truetype');
}

.notion-callout__icon {
    display: none !important;
}

.notion-navbar {
    background: rgba(255,255,255,0.2) !important;
    backdrop-filter: blur(20px) !important;
}

h1 {
    font-family: 'retiro', serif !important;
    font-size: 140px !important;
}

#page-index {
    text-align: center !important;
    color: #fff !important;
}

.notion-header__cover-image {
    position: fixed !important;
}