@font-face {
    font-family: 'mabry';
    src:  url('https://code.tr.af/gumroad/assets/mabry.woff2') format('woff2');
}

:root {
    --color-black: #000 !important;
    --color-white: #fff !important;
    --color-orange: #ffc901 !important;
    --color-yellow: #ffc900 !important;
    --color-green: #22a094 !important;
    --color-purple: #b23386 !important;
    --color-pink: #ff90e7 !important;

    --color-text-default: var(--color-black) !important;

    --color-bg-gray: var(--color-black) !important;
    --color-bg-gray-light: var(--color-black) !important;
    --color-bg-orange-light: var(--color-orange) !important;
    --color-bg-yellow-light: var(--color-yellow) !important;
    --color-bg-green-light: var(--color-green) !important;
    --color-bg-purple-light: var(--color-purple) !important;
    --color-bg-pink-light: var(--color-pink) !important;

    --column-spacing: 0 !important;
    --transition: all .2s ease-in-out !important;
}

body {
    font-family: 'mabry', sans-serif !important;
}