.notion-dropdown__button,
.notion-dropdown__menu-header,
.notion-dropdown__option-icon {
    display: none !important;
}

.notion-dropdown__menu-wrapper {
    background: var(--color-bg) !important;
}

.notion-collection__header-wrapper {
    position: sticky !important;
    z-index: 999 !important;
    top: 0 !important;
}

.notion-dropdown__menu.initial-state {
    z-index: auto !important;
    opacity: 1 !important;
}

.notion-dropdown__menu.animate-out {
    animation: none !important;
}

.notion-dropdown__menu {
    position: relative !important;
    background: none !important;
    box-shadow: none !important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
}

.notion-dropdown__option {
    padding: 32px 16px !important;
}

.notion-dropdown__option.active-filter p {
    color: var(--color-white) !important;
}

.notion-dropdown__option:hover {
    background: none !important;
}

.notion-dropdown__option:hover p {
    color: var(--color-white) !important;
}

.notion-dropdown__option:first-child {
    padding: 32px 16px 32px 0 !important;
}

.notion-dropdown__option p {
    transition: var(--transition) !important;
    color: var(--color-grey) !important;
    font-size: 18px !important;
}

.notion-dropdown__option-list {
    display: flex !important;
    padding: 0 !important;
}

@media (max-width: 800px) {

    .notion-dropdown__menu.initial-state {
        opacity: 0 !important;
    }
    
    .notion-dropdown__menu.animate-out {
        animation: dropdown-animation-out .12s ease forwards !important;
    }

    .notion-dropdown {
        width: 100% !important;
    }
    
    .notion-dropdown__button {
        justify-content: space-between !important;
        padding: 4px 20px 4px 12px !important;
        background: #161616 !important;
        display: flex !important;
        width: 100% !important;
    }
    
    .notion-dropdown__button-title {
        padding: 12px !important;
        margin: 0 !important;
    }
    
    .notion-dropdown__button svg:first-child {
        display: none !important;
    }
    
    .notion-collection__header-wrapper {
        position: absolute !important;
        z-index: auto !important;
        top: 280px !important;
        width: 90% !important;
    }
    
    .notion-dropdown__option-list {
        flex-direction: column !important;
    }
    
    .notion-dropdown__option,
    .notion-dropdown__option:first-child {
        padding: 12px 22px !important;
    }
    
    .notion-dropdown__menu {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        background: #161616 !important;
        margin-top: -2px !important;
    }

}