.notion-dropdown__button,
.notion-dropdown__menu-header,
.notion-dropdown__option-icon {
    display: none !important;
}

.notion-collection__header-wrapper {
    position: sticky !important;
    z-index: 999 !important;
    top: 0 !important;
}

.notion-dropdown__menu.initial-state {
    z-index: auto !important;
    opacity: 1 !important;
}

.notion-dropdown__menu.animate-out {
    animation: none !important;
}

.notion-dropdown__menu {
    position: relative !important;
    background: none !important;
    box-shadow: none !important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
}

.notion-dropdown__option {
    transition: var(--transition) !important;
    padding: 32px 16px !important;
}

notion-dropdown__option:hover {
    color: var(--color-grey) !important;
}

.notion-dropdown__option:first-child {
    padding: 32px 16px 32px 0 !important;
}

.notion-dropdown__option p {
    font-size: 18px !important;
}

.notion-dropdown__option:hover {
    background: none !important;
}

.notion-dropdown__option-list {
    display: flex !important;
    padding: 0 !important;
}