.notion-collection-gallery {
    padding: 24px 0 !important;
    border: none !important;
    grid-gap: 0 !important;
}

.notion-collection-gallery.small {
    grid-template-columns: repeat(4, 1fr) !important;
}

.notion-collection-card {
    border: 1px solid var(--color-borders) !important;
    transition: var(--transition) !important;
    border-radius: 0 !important;
    background: none !important;
    padding: 32px !important;
}

.notion-collection-card:hover {
    background: var(--color-borders) !important;
}

.notion-property__file {
    border: 1px solid var(--color-borders) !important;
    border-radius: 50% !important;
    position: absolute !important;
    overflow: hidden !important;
    height: 60px !important;
    width: 60px !important;
    top: 32px !important;
}

.notion-property__file * {
    object-fit: cover !important;
    display: block !important;
    height: 100% !important;
    width: 100% !important;
}

.notion-property__title {
    margin-top: 80px !important;
    font-size: 20px !important;
    padding: 0 !important;
}

.notion-collection-card__content {
    color: var(--color-grey) !important;
    margin-top: -12px !important;
    font-size: 14px !important;
    padding: 0 !important;
}

.gallery .notion-collection-card__property .notion-semantic-string {
    white-space: normal !important;
    line-height: 1.8 !important;
}