@import "https://code.tr.af/snippets/reset.css";
@import "filters.css";
@import "gallery.css";
@import "type.css";

@font-face { font-family: 'loos'; src:  url('https://code.tr.af/fonts/loos.woff2') format('woff2') }
@font-face { font-family: 'carbon'; src:  url('https://code.tr.af/fonts/carbon.woff2') format('woff2') }

:root {
    --color-bg: #111 !important;
    --color-white: #fff !important;
    --color-grey: #696969 !important;
    --color-borders: #161616 !important;
    --transition: all .2s ease-in-out !important;

    --color-card-bg: var(--color-bg) !important;
    --color-bg-default: var(--color-bg) !important;
    --color-text-default: var(--color-white) !important;
    --color-ui-hover-bg: var(--color-borders) !important;
    --color-border-default: var(--color-borders) !important;
}

body {
    font-family: 'loos', sans-serif !important;
}

.super-content {
    margin: 200px auto 40px !important;
    max-width: 90% !important;
    width: 1280px !important;
    padding: 0 !important;
}

.notion-collection__header,
#page-index .notion-header {
    display: none !important;
}
