@import "https://code.tr.af/snippets/reset.css";
@import "type.css";

@font-face { font-family: 'loos'; src:  url('https://code.tr.af/fonts/loos.woff2') format('woff2') }
@font-face { font-family: 'carbon'; src:  url('https://code.tr.af/fonts/carbon.woff2') format('woff2') }

:root {
    --color-bg-default: #111 !important;
    --color-text-default: #fff !important;
    --color-border-default: #161616 !important;
}

body {
    font-family: 'loos', sans-serif;
}

.super-content {
    margin: 200px auto 40px !important;
    max-width: 90% !important;
    width: 1280px !important;
    padding: 0 !important;
}


.notion-dropdown__button,
.notion-dropdown__menu-header,
.notion-collection__header,
.notion-dropdown__option-icon,
#page-index .notion-header {
    display: none !important;
}

.notion-dropdown__menu.initial-state {
    z-index: auto !important;
    opacity: 1 !important;
}

.notion-dropdown__menu.animate-out {
    animation: none !important;
}

.notion-dropdown__option-list {
    display: flex !important;
}

.notion-dropdown__menu {
    position: relative !important;
    background: none !important;
    box-shadow: none !important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
}
